<button type="button" name="button" (click)="getInfoFromServiceClass1()">Employee1</button>
<ul class="list-group">
    <li *ngFor="let info1 of infoReceived1" class="list-group-item">{{info1}}</li>
</ul>
<pre></pre>
<button type="button" name="button" (click)="getInfoFromServiceClass2()">Employee2</button>
<ul class="list-group">
    <li *ngFor="let info2 of infoReceived2" class="list-group-item">{{info2}}</li>
</ul>
<pre></pre>
<button type="button" name="button" (click)="getInfoFromServiceClass3()">Employee3</button>
<ul class="list-group">
    <li *ngFor="let info3 of infoReceived3" class="list-group-item">{{info3}}</li>
</ul>