<div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Wedding Photography </h2>
                <p class="card-text">Let Love Blossom Through the Lens: Our Wedding Photography Transforms Moments into
                    Forever Memories. Every Love Story is Unique, and So Are Our Wedding Photos: Cherish the Moments
                    Forever.
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Live Telecast</h2>
                <p class="card-text">Experience Unmatched Excellence in Live Telecast Photography: Where Every Pixel
                    Speaks Quality.

                    Elevate Your Event with the Pinnacle of Photography Quality: Live Telecast that Captures Perfection.
                </p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Pre-Wedding</h2>
                <p class="card-text">Elevate Your Love Story to a Work of Art: Our Pre-Wedding Shoots Deliver the Utmost
                    Quality, Capturing Every Emotion in Perfect Detail.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
        </div>
    </div>
</div>