<p>ngswitch works!</p>

<div [ngSwitch]="day">
    <div *ngSwitchCase=0>Today is a Sunday. Enjoy your break.</div>
    <div *ngSwitchCase=1>Today is a Monday. Enjoy your break.</div>
    <div *ngSwitchCase=2>Today is a Tuesday. Enjoy your break.</div>
    <div *ngSwitchCase=3>Today is a Wednesday. Enjoy your break.</div>
    <div *ngSwitchCase=4>Today is a Thursday. Enjoy your break.</div>
    <div *ngSwitchCase=5>Today is a Friday. Enjoy your break.</div>
    <div *ngSwitchCase=6>Today is a Saturday. Enjoy your break.</div>
    <div *ngSwitchDefault>Ooh!! Something went wrong.!Try again.</div>
</div>