<div class="container">
    <!-- Heading Row-->
    <div class="row gx-0 align-items-center my-5" style="margin-right: 30px;">
        <div class="col-lg-7 px-0">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="/assets/logo.png" alt="Logo" />
        </div>
        <div class="col-lg-5 px-0" style="margin-top: 25px;">
            <h1 class="font-weight-light">Payal Studio : Idar</h1>
            <p>Concept of Quality! <br />
                More than 3 decades (30 Years) experience in the photography field!<br />
                Created more than 700 Palitana Photos with excellent Quality.<br />
                Capturing Life's Moments Through Skilled Lenscraft.
            </p>
            <a class="btn btn-primary" href="#!">Call to Action!</a>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body">
            <p class="text-white m-0" style="font-size: xx-large;">Capture Exceptional Moments with a Single Click,
                Receive Stunning Quality in Every
                Frame.!</p>
        </div>
    </div>
</div>
<div class="card-body" id="youtube">
    <p class="text-white m-0" style="font-size: x-large; text-align: center;">
        <a href="https://www.youtube.com/@payalstudiosachindoshi6844/videos">
            <img class="img-fluid rounded mb-4 mb-lg-0">
        </a>
    </p>
</div>